#!/bin/bash
# THIS FILE IS ADDED FOR COMPATIBILITY PURPOSES
#
# It is highly advisable to create own systemd services or udev rules
# to run scripts during boot instead of using this file.
#
# In contrast to previous versions due to parallel execution during boot
# this script will NOT be run after all other services.
#
# Please note that you must run 'chmod +x /etc/rc.d/rc.local' to ensure
# that this script will be executed during boot.

touch /var/lock/subsys/local


# for mounting s3 on boot
# roles/user/tasks/main.yml 
GOPATH=/root/go
$GOPATH/bin/goofys aszoo-test /var/log/laravel -o allow_other,--uid=$(cat /etc/passwd | grep nginx | cut -d : -f 3)

PRODUCT_DIR='/opt/aszoo-product-api'

su - ncupuser -c "cd ${PRODUCT_DIR}/opsfiles/deploy/ && git pull origin develop"
su - ncupuser -c "cd ${PRODUCT_DIR}/opsfiles/deploy/ && bundle exec cap localhost deploy"
